@{
    ViewBag.Title = "Avaliacao - Front End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container fluid">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <form class="ui form" id="form-test">
                        <h4 class="ui dividing header">Front End</h4>
                        <div class="two fields">
                            <div class="required field">
                                <label>Nome</label>
                                <input type="text" name="name" id="test-name" placeholder="Nome" required autocomplete="off">
                                <span id="response-name"></span>
                            </div>
                            <div class="required field">
                                <label>E-mail</label>
                                <input type="email" name="email" id="test-email" placeholder="joe@schmoe.com" required autocomplete="off">
                                <span id="response-email"></span>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="required field">
                                <label>Telefone</label>
                                <input type="tel" name="phone" id="test-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Telefone" required autocomplete="off">
                                <span id="response-phone"></span>
                            </div>
                            <div class="required field">
                                <label>Assunto</label>
                                <input type="text" name="subject" id="test-subject" placeholder="Assunto" required autocomplete="off">
                                <span id="response-subject"></span>
                            </div>
                        </div>
                        <div class="required field">
                            <label>Mensagem</label>
                            <textarea placeholder="Mensagem" required id="test-message" autocomplete="off"></textarea>
                            <span id="response-message"></span>
                        </div>
                        <div class="ui success message">
                            <div class="header">Form Completed</div>
                            <p>Sua mensagem foi enviada com sucesso!</p>
                        </div>
                        <div class="ui submit button" id="send-test-form">Enviar</div>
                    </form>
                </div>
            </div>

            <div class="row stackable">
                <button class="ui secondary button" id="form-content">
                    Visualizar dados do formulario
                </button>
            </div>
            <div class="row stackable">
                <div class="ui list content-form">
                    <div class="item" id="item-name"></div>
                    <div class="item" id="item-email"></div>
                    <div class="item" id="item-phone"></div>
                    <div class="item" id="item-subject"></div>
                    <div class="item" id="item-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>